/*In order: tiffany blue, midnight blue, ivory, and dark blue*/
:root{
--cmain: #6AA4B0;
--caccent: #2F6D80;
--cbackground: #E1E7E0;
--cdark: #2B4560;
}
body{
    background-color: var(--cdark);
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
#outerBox{
    display: -ms-inline-flexbox;
    height: 60vh;
    width: 85vw;
    background-color: var(--cbackground);
    flex-wrap: wrap;
   
    
}
#time{
    position: relative;
    margin-left: 80%;
    width: 15%;
    height: 3%;
    background-color: var(--caccent);
    text-align: center;
}
 #start{
    position: relative;
    align-self: center;
    width: 15%;
    height: 13%;
    background-color: var(--caccent);
    text-align: center;
}
#next{
    position: relative;
    align-self: center;
    width: 15%;
    height: 13%;
    background-color: var(--caccent);
    text-align: center;
} 
#score{
    position: relative;
    margin-left: 80%;
    width: 15%;
    height: 3%;
    background-color: var(--caccent);
    text-align: center;
}
#question{
    display: inline-flexbox;
    margin: 1%;
    min-height: 30vh;
    min-width: 50vw;
    flex-wrap: wrap;
    background-color: var(--cmain);
    align-self: center;
    justify-self: center;
}
#answers{
    display:flex;
    height: 50%;
   flex-basis: 60%;
    flex-wrap: wrap;
    flex-direction: column;
}
#answerA,
#answerB,
#answerC,
#answerD{
    display:flex;
    flex-wrap: wrap;
    width: 45%;
    height: 20%;
    background-color: var(--cmain);
    text-align: center;
    margin: 2%;
} 